{% extends 'blog/base.html' %}

{% block title %}
    вход
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
    <h1>Вы уже вошли</h1>
    {% else %}
    <h1 style="text-align: center;">Войдите в свой кабинет</h1>
    <form action="{% url 'login' %}" method="POST" id="login_form">
        {% csrf_token %}
        <p>
            {{form.username.label_tag}}
            {{form.username}}
        </p>
        <p>
            {{form.password.label_tag}}
            {{form.password}}
        </p>
        <button class="btn btn-alert">
            Войти
        </button>
        {% if form.errors %}
            <p>Неверное имя или пароль</p>
            <p><a href="{% url 'password_reset' %}">Восстановить пароль</a></p>
        {% endif %}
    </form>
    {% endif %}
{% endblock %}