{% extends 'blog/base.html' %}

{% block title %}
    новости
{% endblock %}
{% block content %}
<div class="conterner-fluit" style="margin-bottom: 100px; margin-left: 150px;">
    <div class="row">
        {% for post in category %}
        <div class="col-md-3">
          <a href="{{post.categories.get_absolute_url}}">
            <p>{{post.categories.title}}</p>
          </a>
          {% if post.categories.image.url != null %}
          <a href="{{post.categories.get_absolute_url}}">
            <img src="{{post.categories.image.url}}" alt="" style="width: 100%;">
          </a>
          {% endif %}
        </div>
        {% endfor %}
    </div>
  </div>
{% endblock %}