{% extends 'blog/base.html' %}

{% block title %}
    контакт
{% endblock %}
{% block content %}
    <h1>Обратная связь</h1>
    <form action="{% url 'contact' %}" class="" method="POST">
        {% csrf_token %}
        <p>
            <label>Имя</label>
            <input type="text" name="name">
            <label>Фамилия</label>
            <input type="text" name="last_name">
        </p>
        <p>
            <label for="">Email</label>
            <input type="email" name="email">
        </p>
        <p>
            <label for="">Телефон</label>
            <input type="text" name="phone">
        <p>
            <label for="">Текст</label>
            <textarea name="text" id="" cols="30" rows="10"></textarea>
        </p>
        <button class="btn btn-success">
            Отправить
        </button>
    </form>
{% endblock %}