{% extends 'blog/base.html' %}

{% block title %}
    home
{% endblock %}
{% load static %}
{% block content %}

<p style="text-align: center; margin-top: 80px; font-family: 'Indie Flower', cursive; font-size: 20px; color: #A23A31">History of art department</p>
<h1 style="text-align: center; font-size: 50px;">NATIONAL MUSEUM</h1>
<main id="museum" style="width: 95%; margin-top: 40px; margin-bottom: 50px; margin-left: auto; margin-right: auto; display: flex; flex-wrap: wrap; justify-content: center;">
  <div class="content" style="width: 30%; margin: 0; justify-content: center; align-content: center; padding-left: 50px; padding-right: 50px; padding-top: 50px;">
    <p>Lorem ipsum dolor sit amet, consectetur estor adipi isicing elit, sed do eiusmod tempor este uterre incididui unt ut labore et dolore magna aliquaas. Ut enim ad minim veniam, quis mot nostrud desto exercitation est ullamco laboris nisi ut se aliquip ex ea commodos consequat. Duis aute irure et dolor in reprehender itinse voluptate velit esse cillum dolore eu fugiat do nulla pariatur deus ex.</p>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisic eli sed do eiusmod tempor incididunt ut labore et dolore si magna aliqua.</p>
  </div>
  <div class="content" style="width: 30%; margin: 0;">
    <img src="{% static 'img/museum.jpg' %}" style="width: 100%;" alt="">
  </div>
  <div class="content" style="width: 30%; margin: 0; justify-content: center; align-content: center; padding-left: 50px; padding-right: 50px; padding-top: 50px;">
    <p>Lorem ipsum dolor sit amet, consectetur dolore adipisicing eli sed do eiusmod tempor incididunt ut labore et dolore si magna aliqua. Ut enim ad minim veniam, quis ester nostrud e exercitation ullamco laboris nisi ut aliquip ex ea commodo ut consequat in Duis aute irure dolor in ut mag.</p>
    <button type="button" class="btn btn-outline-dark" style="margin-left: 100px; margin-top: 50px; transition: 0.6s;">View more</button>
  </div>
</main>
<content id="art" style="width: 100%; background-color: #e0e0d08a; display: flex; flex-wrap: wrap; margin-top: 50px; margin-bottom: 80px;">
  <div class="cont" style="width: 50%; padding-left: 40px; padding-right: 40px; padding-top: 20px;">
    <p style="font-family: 'Indie Flower', cursive; font-size: 20px; color: #A23A31; font-size: 15px;">The Museum archive</p>
    <h1 style="font-size: 40px;">WORKS OF ART</h1>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei usmod tempor incididunt ut labore et dolore</p>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do se eiusmod temps incididunt ut labore et sa dolore si magna aliqua. Ut enim ad minim veniam, inant quis nostrud e exercitation ullamco laboris nisi ut sen aliquip ex ea commodo insa consequat duis aute</p>
    <button type="button" class="btn btn-outline-dark" style="margin-left: 100px; margin-top: 50px; transition: 0.6s;">View more</button>
  </div>
  <div class="cont" style="width: 50%;">
    <img src="{% static 'img/art.jpg' %}" style="width: 100%;" alt="">
  </div>
</content>

<div class="conterner-fluit" style="margin-bottom: 100px; margin-left: 150px;">
  <div class="row">
      {% for post in category %}
      <div class="col-md-3">
        <a href="{{post.categories.get_absolute_url}}">
          <p>{{post.categories.title}}</p>
        </a>
        {% if post.categories.image.url != null %}
        <a href="{{post.categories.get_absolute_url}}">
          <img src="{{post.categories.image.url}}" alt="" style="width: 100%;">
        </a>
        {% endif %}
      </div>
      {% endfor %}
  </div>
  <h1>Популярные посты</h1>
  <div class="row">
      {% for post in popular %}
      <div class="col-md-3">
        {% if post.image.url != null %}
        <a href="{{post.get_absolute_url}}">
          <img src="{{post.image.url}}" alt="" style="width: 100%;">
        </a>
        {% endif %}
          <p>{{post.summary}}</p>
          <em>{{post.date|date:"D j M, Y"}}</em>
      </div>
      {% endfor %}
  </div>
</div>
  {% endblock %}