{% extends 'blog/base.html' %}

{% block title %}
    новости
{% endblock %}
{% block content %}
<div class="conterner-fluit">
  <div class="row">
      {% for post in news %}
      <div class="col-md-3">
        <a href="{{post.categories.get_absolute_url}}">
          <p>{{post.categories.title}}</p>
        </a>
        <a href="{{post.get_absolute_url}}">
          <h3>{{post.title}}</h3>
        </a>
        {% if post.image.url != null %}
        <a href="{{post.get_absolute_url}}">
          <img src="{{post.image.url}}" alt="" style="width: 100%;">
        </a>
        {% endif %}
          <p>{{post.summary}}</p>
          <em>{{post.date|date:"D j M, Y"}}</em>
      </div>
      {% endfor %}
  </div>
</div>
{% endblock %}