{% extends 'blog/base.html' %}

{% block title %}
    популярные посты
{% endblock %}
{% block content %}
<h1>Популярные посты</h1>
<div class="row">
    {% for post in popular %}
    <div class="col-md-3">
      {% if post.image.url != null %}
      <a href="{{post.get_absolute_url}}">
        <img src="{{post.image.url}}" alt="" style="width: 100%;">
      </a>
      {% endif %}
        <p>{{post.summary}}</p>
        <em>{{post.date|date:"D j M, Y"}}</em>
        <em>{{post.views}}</em>
    </div>
    {% endfor %}
</div>
{% endblock %}