{% extends 'blog/base.html' %}

{% block title %}
    форма регистрации
{% endblock %}
{% block content %}
<section class="container">
    <h3>Форма регистрации</h3>
    {% if user.is_authenticated %}
    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-success">Зарегистрироваться</button>
    </form>
    {% endif %}
</section>
{% endblock %}