{% extends 'blog/base.html' %}

{% block title %}
    {{query}}
{% endblock %}

{% block content %}
<div class="conterner-fluit">
    <h1>Поиск по: {{query}}</h1>
    <div class="row">
        {% for post in search_obj %}
        <div class="col-md-3">
            <h3>{{post.title}}</h3>
            <img src="{{post.image.url}}" alt="" style="width: 100%;">
            <p>{{post.summary}}</p>
            <em>{{post.date|date:"D j M, Y"}}</em>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}